# OpenWeather
OPENWEATHER_API_KEY=your_key_here

# AWS
AWS_REGION=ap-south-1
S3_BUCKET=datapulse-bronze

# RDS
RDS_HOST=your-endpoint.rds.amazonaws.com
RDS_PORT=5432
RDS_DB=datapulse
RDS_WRITER_USER=datapulse_writer
RDS_WRITER_PASSWORD=your_password_here

# Streamlit (read-only)
RDS_READER_USER=datapulse_reader
RDS_READER_PASSWORD=your_password_here
