.env
*.pem
__pycache__/
*.pyc
.pytest_cache/
dbt/target/
dbt/logs/
.DS_Store
great_expectations/uncommitted/
dbt/profiles.yml
dbt/packages/
dbt/dbt_packages/
.venv/
*.egg-info/
dist/
uncommitted/
docs/
.gitignore